

<h2>Job name: <%= @job.name %></h2><br>


<h3>Boat name:</h3> <%= @boat.name %>
<h3>Number of containers:</h3> <%= @job.containers_needed %>
<h3>Cargo description:</h3> <%= @job.cargo_description %>
<h3>Shipping from:</h3> <%= @job.origin %>
<h3>Shipping to:</h3> <%= @job.destination %>
<h3>Final price:</h3> $ <%= @job.price %><br>
