<!DOCTYPE html>
<html>
<head>
  <title>ShipValidations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
  
  <% if flash[:error] %>
    <% flash[:error].each do |error|%>
      <%= error %><br />
    <% end %>
  <% end %>
<br><br>
  <%= link_to "Profile", '/' if current_user%>
  <%= link_to "Boats", boats_path if current_user%>
  <%= link_to "Add a Boat to your Fleet", new_boat_path if current_user%>
	<%= link_to "Sign In", '/users/sign_in', :method => :create if !current_user%>
	<%= link_to "Sign Up", '/users/sign_up' if !current_user %>

<br><br>

		<%= yield %>

</body>
</html>
